<configuration>
	<system.webServer>
		
		<!-- Use server.js as our main app entry point, all other *.js files will be served as static files -->
		<handlers>
			<add name="iisnode" path="server.js" verb="*" modules="iisnode" />
		</handlers>

		<!-- URL Rewrite rules for expressjs and angularjs -->
		<rewrite>
			<rules>
				<rule name="server">
					<match url="/*" />
					<action type="Rewrite" url="server/server.js" />
				</rule>
			</rules>
		</rewrite>

		<!-- Hide the node_modules folder -->
		<security>
			<requestFiltering>
				<hiddenSegments>
					<add segment="node_modules" />
				</hiddenSegments>
			</requestFiltering>
		</security>

	</system.webServer>
</configuration>